body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin:1.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.red{
    background-color: #d95980;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}


/* Responsive Design for Mobile (Screen less than 600px) */
@media (max-width: 600px) {
    .btn {
        height: 130px;  
        width: 130px;
        margin: 0.8rem; 
        border: 5px solid black; 
    }

    h1 {
        font-size: 1.8rem; 
    }

    h2 {
        font-size: 1.2rem;
    }
    
    
    .btn-container {
        flex-direction: column; 
        align-items: center;
    }
    
    .line-one, .line-two {
        display: flex; 
        justify-content: center;
    }
}